<section class="section" data-section="{{this.sectionIndex}}" {{#if toc}}data-chapter="chapter-{{toc.chapter}}"{{/if}}>
  {{#if photoCredit}}
    <div class="photo-credits">
      <h6><span>Photo:</span>{{{photoCredit}}}</h6>
    </div>
    <div class="photo-credit-container">
        <div class="photo-credit-trigger grid-x grid-padding-x align-middle">
            <span class="cell shrink">Photo credit</span>
            <img src="../img/icons/down-chevron.svg" alt="">
        </div>
    </div>
  {{/if}}
  {{#if image }}
    <div class="bg objectfit-img">
      <img src="../img/slides/{{image}}" alt="{{caption}}">
    </div>
    <div class="bg-screen"></div>
  {{/if}}
  <div class="grid-x inner-frame">
    <div class="small-12 medium-8 cell grid-y align-right slide-titles">
      <div class="cell shrink stagger-in">
        <h2 class="slide-title">{{#block "title"}}{{title}}{{/block}}</h2>
      </div>
      {{#if subtitle }}
      {{!-- <div class="cell shrink stagger-in">
        <hr class="small">
      </div> --}}
      <div class="cell shrink slide-subtitle stagger-in">
        {{#block "subtitle"}}{{{subtitle}}}{{/block}}
      </div>
      {{/if}}
    </div>
  </div>

  {{#if this.drawer}}
    <div class="drawer-button_container" data-toggle="{{this.sectionIndex}}">
      <img class="drawer-button align-self-middle m2" src="../img/icons/menu-button.svg" alt="">
      <img class="drawer-close-button align-self-middle m2" src="../img/icons/close-button.svg" alt="">
    </div>
    <div data-closedrawer></div>
    <div class="leftDrawer" data-toggle="{{this.sectionIndex}}">
      <div class="grid-y grid-padding-x grid-padding-y">
        <section class="cell auto">
          <div class="drawer-content">
            {{#block "drawer-content"}}
            {{/block}}
          </div>
        </section>
      </div>
    </div>
  {{/if}}
</section>