---
titles:
    - desktop: A beekeeper uses new skills to build a thriving business in Jordan
      mobile: - A beekeeper in Jordan builds her business
      moveto: 3
      href: #one#one
      toc: 1

    - desktop: Long-acting injection shows promise for HIV prevention
      mobile: Long-acting injection for HIV prevention
      moveto: 5
      href: #two
      toc: 2

    - desktop: Emerging leader in India makes lasting connections
      mobile: An emerging entrepreneur in India
      moveto: 6
      href: #three
      toc: 3

    - desktop: Expanding contraceptive access and choice for women
      mobile: Expanding contraceptive access
      moveto: 8
      href: #four
      toc: 4

    - desktop: Data drives student success in America's heartland
      mobile: Data supports U.S. student success
      moveto: 9
      href: #five
      toc: 5

    - desktop: Bringing TB prevention and care into communities in Mozambique
      mobile: Community TB prevention and care
      moveto: 11
      href: #six
      toc: 6

    - desktop: A multisectoral approach transforms nutrition in Tanzania
      mobile: Transforming nutrition in Tanzania
      moveto: 12
      href: #seven
      toc: 7

    - desktop: Supporting Myanmar's democratic transition
      mobile: Supporting democracy in Myanmar
      moveto: 13
      href: #eight
      toc: 8

    - desktop: University degree program prepares Afghan students for tomorrow's jobs
      mobile: University degree program for Afghans
      moveto: 14
      href: #nine
      toc: 9

    - desktop: Technology to drive better outcomes
      mobile: Technology drives better outcome
      moveto: 16
      href: #ten
      toc: 10
---
        
        <div id="rightSideBar">
            <nav class="toc grid-y">
                {{#each titles}}
                    <a href="{{this.href}}" data-moveto="{{this.moveto}}" class="cell auto toc-item grid-x grid-padding-x">
                        <div class="cell shrink toc-number">{{this.toc}}</div>
                        <div class="cell auto toc-title">
                            <span>{{this.desktop}}</span>
                            <span class="mobile">{{this.mobile}}</span>
                        </div>
                    </a>
                {{/each}}

                {{!-- <a href="#one" data-moveto="3" class="cell auto toc-item grid-x grid-padding-x">
                    <div class="cell shrink toc-number">1</div>
                    <div class="cell auto toc-title">
                        <span>A beekeeper uses new skills to build a thriving business in Jordan</span>
                        <span class="mobile">A beekeeper in Jordan builds her business</span>
                    </div>
                </a> --}}
                {{!-- <a href="#two" data-moveto="5" class="cell auto toc-item grid-x grid-padding-x">
                    <div class="cell shrink toc-number">2</div>
                    <div class="cell auto toc-title">
                        <span>Long-acting injection shows promise for HIV prevention</span>
                        <span class="mobile">Long-acting injection for HIV prevention</span>
                    </div>
                </a>
                <a href="#three" data-moveto="6" class="cell auto toc-item grid-x grid-padding-x">
                    <div class="cell shrink toc-number">3</div>
                    <div class="cell auto toc-title">
                        <span>Emerging leader in India makes lasting connections</span>
                        <span class="mobile">An emerging entrepreneur in India</span>
                    </div>
                </a>
                <a href="#four" data-moveto="8" class="cell auto toc-item grid-x grid-padding-x">
                    <div class="cell shrink toc-number">4</div>
                    <div class="cell auto toc-title">
                        <span>Expanding contraceptive access and choice for women</span>
                        <span class="mobile">Expanding contraceptive access</span>
                    </div>
                </a>
                <a href="#five" data-moveto="9" class="cell auto toc-item grid-x grid-padding-x">
                    <div class="cell shrink toc-number">5</div>
                    <div class="cell auto toc-title">
                        <span>Data drives student success in America's heartland</span>
                        <span class="mobile">Data supports U.S. student success</span>
                    </div>
                </a>
                <a href="#six" data-moveto="11" class="cell auto toc-item grid-x grid-padding-x">
                    <div class="cell shrink toc-number">6</div>
                    <div class="cell auto toc-title">
                        <span>Bringing TB prevention and care into communities in Mozambique</span>
                        <span class="mobile">Community TB prevention and care</span>
                    </div>
                </a>
                <a href="#seven" data-moveto="12" class="cell auto toc-item grid-x grid-padding-x">
                    <div class="cell shrink toc-number">7</div>
                    <div class="cell auto toc-title">
                        <span>A multisectoral approach transforms nutrition in Tanzania</span>
                        <span class="mobile">Transforming nutrition in Tanzania</span>
                    </div>
                </a>
                <a href="#eight" data-moveto="13" class="cell auto toc-item grid-x grid-padding-x">
                    <div class="cell shrink toc-number">8</div>
                    <div class="cell auto toc-title">
                        <span>Supporting Myanmar's democratic transition</span>
                        <span class="mobile">Supporting democracy in Myanmar</span>
                    </div>
                </a>
                <a href="#nine" data-moveto="14" class="cell auto toc-item grid-x grid-padding-x">
                    <div class="cell shrink toc-number">9</div>
                    <div class="cell auto toc-title">
                        <span>University degree program prepares Afghan students for tomorrow's jobs</span>
                        <span class="mobile">University degree program for Afghans</span>
                    </div>
                </a>
                <a href="#ten" data-moveto="16" class="cell auto toc-item grid-x grid-padding-x">
                    <div class="cell shrink toc-number">10</div>
                    <div class="cell auto toc-title">
                        <span>Technology to drive better outcomes</span>
                        <span class="mobile">Technology drives better outcome</span>
                    </div>
                </a> --}}
            </nav>
        </div>
        <div class="close-rightbar bg"></div>