    <div id="rightSideBar">
    <nav class="toc grid-y">
        {{#each toc_titles}}
            <a href="{{this.href}}" data-moveto="{{this.moveto}}" class="cell auto toc-item grid-x grid-padding-x">
                <div class="cell shrink toc-number">{{this.toc}}</div>
                <div class="cell auto toc-title">
                    <span>{{this.desktop}}</span>
                    <span class="mobile">{{this.mobile}}</span>
                </div>
            </a>
        {{/each}}
    </nav>
</div>
<div class="close-rightbar bg"></div>