    <div id="rightSideBar">
    <nav class="toc grid-y">
        {{#each sectionData}}
            {{#if toc}}
                <a href="{{toc.href}}" data-moveto="{{toc.chapter}}" class="cell auto toc-item grid-x grid-padding-x">
                    <div class="cell shrink toc-number">{{toc.chapter}}</div>
                    <div class="cell auto toc-title">
                        <span>{{toc.desktop}}</span>
                        <span class="mobile">{{toc.mobile}}</span>
                    </div>
                </a>
            {{/if}}
        {{/each}}
    </nav>
</div>
<div class="close-rightbar bg"></div>